/* -----------
    RESET
    ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------
    CORE
    --------- */
body {
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

header {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
}

aside {
    width: 200px;
    background-color: black;
    flex-shrink: 0;
    padding: 20px;
    background-image: url(../img/sidebar-bg.png);
}

main {
    background-color: #f8f9fa;
    flex-grow: 1;
    overflow-y: auto;
}

/* ----------
    CONTAINERS
    --------- */
.page-container {
    height: calc(100vh - 70px);
    background-color: lightgrey;
    display: flex;
}

/* ---------
    IMMAGINI
    -------- */

img {
    width: 100%;
}

.ms-img-logo {
    width: 45px;
    background-color: transparent;
    text-align: center;
}

/* ---------
    ICONS
    -------- */

    .fa-bell {
        color: orange;
        margin-top: 4px;
    }
    
    .ms-icons {
        margin-top: 7px;  
    }
    .ms-icons-header  {
        margin-right: 20px;
        margin-top: 4px;
    }

    .fa-chevrons-right {
        color: white;
    }

    /* ----------
    RESET BOOTSTRAP
    ------------- */
    .form-control, .input-group-text {
        background-color: #e5e5e5;
    }

    .accordion-button {
        border: none;
        background-color: transparent;
    }

    .badge-banner-boolean {
        margin-top: 22px;
    }

    .ms-card-title {
        background-color: #f7f7f7;
        padding: 15px 5px;
        border-radius: 8px;
    }

    .badge-banner {
        border: 2px solid #1c72e8;
        background-color: #185bb9;
        border-radius: 20px;
    }
    /* ---------
        MAIN
        -------- */
        .banner-top {
            background-color: #1c72e8;
            color: white;
        }












