* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

.ms-img-logo {
    width: 45px;
    background-color: transparent;
    text-align: center;
}

.form-control, .input-group-text {
    background-color: #e5e5e5;
}

.fa-bell {
    color: orange;
    margin-top: 4px;
}

.ms-icons {
    margin-top: 7px;  
}
.ms-icons-header  {
    margin-right: 20px;
    margin-top: 4px;
}

header {
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: center;
}

.page-container {
    height: calc(100vh - 70px);
    background-color: lightgrey;
    display: flex;
}

aside {
    width: 200px;
    background-color: blueviolet;
    flex-shrink: 0;
    padding: 20px;
}

main {
    background-color: bisque;
    flex-grow: 1;
    overflow-y: auto;
}